## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_one = classification_counts[classification_counts > 1]
classifications_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             3,520

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  5s 3ms/step - accuracy: 0.7040 - loss: 0.5908
Epoch 2/50
804/804  5s 3ms/step - accuracy: 0.7300 - loss: 0.5550
Epoch 3/50
804/804  3s 3ms/step - accuracy: 0.7268 - loss: 0.5558
Epoch 4/50
804/804  2s 2ms/step - accuracy: 0.7331 - loss: 0.5463
Epoch 5/50
804/804  2s 2ms/step - accuracy: 0.7338 - loss: 0.5463
Epoch 6/50
804/804  2s 2ms/step - accuracy: 0.7283 - loss: 0.5502
Epoch 7/50
804/804  3s 2ms/step - accuracy: 0.7296 - loss: 0.5482
Epoch 8/50
804/804  2s 3ms/step - accuracy: 0.7273 - loss: 0.5527
Epoch 9/50
804/804  3s 3ms/step - accuracy: 0.7338 - loss: 0.5458
Epoch 10/50
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5432
Epoch 11/50
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5408
Epoch 12/50
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5372
Epoch 13/50
804/804  2s 2ms/step - accuracy: 0.7333 - loss: 0.5453
Epoch 14/50
804/804  4s 3ms/step - accuracy: 0.7352 - loss: 0.5442
Epoch 15/50
804/804  3s 4ms/step - accuracy: 0.7329 - loss: 0.5442
Epoch 16/50
804/804  4s 2ms/step - accuracy: 0.7345 - loss: 0.5433
Epoch 17/50
804/804  3s 2ms/step - accuracy: 0.7318 - loss: 0.5443
Epoch 18/50
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5393
Epoch 19/50
804/804  3s 3ms/step - accuracy: 0.7272 - loss: 0.5476
Epoch 20/50
804/804  3s 3ms/step - accuracy: 0.7356 - loss: 0.5446
Epoch 21/50
804/804  2s 2ms/step - accuracy: 0.7361 - loss: 0.5402
Epoch 22/50
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5394
Epoch 23/50
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5408
Epoch 24/50
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5403
Epoch 25/50
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5405
Epoch 26/50
804/804  3s 3ms/step - accuracy: 0.7392 - loss: 0.5392
Epoch 27/50
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5408
Epoch 28/50
804/804  2s 2ms/step - accuracy: 0.7373 - loss: 0.5385
Epoch 29/50
804/804  2s 2ms/step - accuracy: 0.7291 - loss: 0.5435
Epoch 30/50
804/804  3s 2ms/step - accuracy: 0.7351 - loss: 0.5423
Epoch 31/50
804/804  3s 3ms/step - accuracy: 0.7390 - loss: 0.5393
Epoch 32/50
804/804  3s 4ms/step - accuracy: 0.7399 - loss: 0.5376
Epoch 33/50
804/804  2s 3ms/step - accuracy: 0.7379 - loss: 0.5387
Epoch 34/50
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5378
Epoch 35/50
804/804  3s 2ms/step - accuracy: 0.7357 - loss: 0.5368
Epoch 36/50
804/804  3s 2ms/step - accuracy: 0.7388 - loss: 0.5374
Epoch 37/50
804/804  2s 2ms/step - accuracy: 0.7396 - loss: 0.5373
Epoch 38/50
804/804  3s 3ms/step - accuracy: 0.7383 - loss: 0.5350
Epoch 39/50
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5308
Epoch 40/50
804/804  3s 2ms/step - accuracy: 0.7394 - loss: 0.5379
Epoch 41/50
804/804  3s 2ms/step - accuracy: 0.7353 - loss: 0.5380
Epoch 42/50
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5420
Epoch 43/50
804/804  3s 3ms/step - accuracy: 0.7356 - loss: 0.5373
Epoch 44/50
804/804  2s 2ms/step - accuracy: 0.7423 - loss: 0.5337
Epoch 45/50
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5364
Epoch 46/50
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5427
Epoch 47/50
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5424
Epoch 48/50
804/804  3s 3ms/step - accuracy: 0.7372 - loss: 0.5392
Epoch 49/50
804/804  3s 3ms/step - accuracy: 0.7342 - loss: 0.5454
Epoch 50/50
804/804  4s 2ms/step - accuracy: 0.7381 - loss: 0.5382

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7299 - loss: 0.5599
Loss: 0.5599135756492615, Accuracy: 0.729912519454956

In [19]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.